@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font */
@layer base {
  @font-face {
    font-family: 'Workbench';
    src: url('/fonts/Workbench-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
}

body {
  background-color: #444;
  color: #fff;
  margin: 20px;
}


